            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/admin/dashboard">Announcements</a>
                        </li>
                        <li>
                            <a href="#">Daily Productivity Report</a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/admin/previous-reports">Previous Reports</a>
                                </li>
                                <li>
                                    <a href="/admin/current-report">Current Report</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li> 
                        <li>
                            <a href="#">Manage Accounts</a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/admin/add-account">Add</a>
                                </li>
                                <li>
                                    <a href="/admin/edit-account">Edit</a>
                                </li>
                                <li>
                                    <a href="/admin/delete-account">Delete</a>
                                </li>
                                <li>
                                    <a href="/admin/view-account">View</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li> 
                        <li>
                            <a href="#">AMN Team</a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">CEO</a>
                                </li>
                                <li>
                                    <a href="#">Management</a>
                                </li>
                                <li>
                                    <a href="#">Web Development</a>
                                </li>
                                <li>
                                    <a href="#">Customer Support</a>
                                </li>
                                <li>
                                    <a href="#">Data Analyst</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li> 
                        <li>
                            <a href="#">Technical Reporting</a>
                        </li>   
                        <li>
                            <a href="#">Account Settings</a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Edit Profile</a>
                                </li>
                                <li>
                                    <a href="#">Change Password</a>
                                </li>
                                <li>
                                    <a href="#">Change Email</a>
                                </li>
                                <li>
                                    <a href="#">Change PIN</a>
                                </li>
                                <li>
                                    <a href="#">Log out</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>                                                                              
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->